$background-color: #f4f4f9;
$primary-color: #5a67d8;
$primary-hover-color: #8b88da;
$white-color: #fff;
$border-color: #ddd;
$shadow-color: rgba(0, 0, 0, 0.1);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
	font-family: Arial, sans-serif;
	height: 100vh;
	background-color: $background-color;
	margin: 0;
}

.calculator {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: $white-color;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px $shadow-color;

	#calculator-form {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-top: 15px;

		input {
			width: 100%;
			padding: 10px;
			border: 1px solid $border-color;
			border-radius: 4px;
		}

		button {
			padding: 10px 20px;
			border: none;
			background-color: $primary-color;
			color: $white-color;
			border-radius: 4px;
			cursor: pointer;

			&:hover {
				background-color: $primary-hover-color;
			}
		}
	}
}
